.header {
    color: LightSkyBlue;
    padding: 10px 40px;
    font-family: Roboto Condensed;
    text-align: center;
}

.subheader {
    color: Linen;
    padding: 10px 40px;
    font-family: Roboto Condensed;
    text-align: center;
}

.bodytext {
    color: Linen;
    padding: 10px 40px;
    font-family: Roboto Condensed;
    text-align: center;
}

.logo {
    height: 30px;
    width: 30px;

    border-width: 2px;
    border-style: solid;
    border-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 40px;
}

.logo:hover {
    background-color: linen;
    color: rgb(0, 55, 115);
}

.parent {
    display:flex;
    justify-content: center;
    width: 100%;
}